.basketproduct{
    display: flex;
    margin-top: 3px;
    
}
.basketproduct_info{
    padding-left:20px
}
.basketproduct_info Button {
    background-color: #184775;
    margin-top: 15px;
    border-color: #a88734 #272318 #295484;
    color: whitesmoke;
    border:1px solid ;
    position: relative;
    border-radius: 10px;
    font-size: small;
    transition: background-color 0.3s ease;
    &:hover{
        background-color:#b82727;
        
    }
   
    
}
.basketproduct_image{
    object-fit: contain;
    width:180px;
    height:180px;
}
.basketproduct_rating{
    display: flex;
}
.basketproduct_title{
    font-size: 17px;
    font-weight: 800;
}