.payment{
    background-color: white;
    width: 100%;
    height: 100%;
    align-items: center;

}
.payment_container h1{
    text-align: center;
    padding: 15px;
    font-weight: 400;
    background-color: rgb(247, 239, 230);
    border-bottom: 1px solid #184775;
    border-top: 1px solid #184775;
    border-radius: 7%;
}
.payment_container h1 a {
    text-decoration: none;
    color: #184775;
    margin-bottom: 5px;
}
.payment_section{
    display:flex;
    padding: 20px;
    margin: 0 20px;
    border-bottom: 1px solid lightgrey;
}
.payment_title{
    flex: 0.2;
}
.payment_address , .payment_items .payment_details{
    flex: 0.8;
}
.payment_pricecontainer{
    align-items: center;
    align-self: center;

}
.payment_pricecontainer button{
    background-color: #184775;
    color: white;
     height: 30px;
     width: 100px;
     border: 2px solid;
     border-color: rgb(216, 212, 206);
     align-self: center;
    border-radius: 15%;
    transition: background-color 0.3s ease;
    &:hover{
        background-color:rgb(96, 196, 146);
        
    }
    
}
