.producttab{
    display: flex;
    padding:15px;
    border-radius: 10px;
    background-color: whitesmoke;
    margin: 2px;

    }

    

.producttab_image{
    object-fit: contain;
    margin: 0;
    width:60px;
    height:50px;
   
}

.producttab_title{
    display: flex;
    font-size: small;
}
.producttab_button{
    background-color: red;
    color:white;
    border-radius: 50%;
    border-color: aliceblue;
}
